/*--------------------
	RESET
--------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 150%;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*--------------------
	GLOBAL TYPOGRAPHY
--------------------*/

body {
	font: 12px/18px Arial, Helvetica, sans-serif;
	color: #333;
	background-size: cover;
}

p {
	margin: 0 0 20px 0;
	font-size: 14px;
}

h2 {
	font-size: 32px;
	color: #c60;
	padding-top: 4px;
	margin-bottom: 30px;
	font-style: italic;
	}

h3 {
	color: #c60;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
	font-style: italic;
}

a {
	color: #039;
	}
	a:hover {
		color: #c60;
	}

/*--------------------
	STRUCTURE
--------------------*/
.ava {
	padding-top: 10px !important;
}
body {
	background: #281912 url("images/bg.jpg") no-repeat top center;
}

#pagewrap {
	background: url("images/bg-glow.jpg") no-repeat top left;
	width: 820px;
	height: 600px;
	margin: 0 auto;
	padding: 0 100px;
}

#header {
	width: 800px;
	height: 90px;
	padding-top: 110px;
}

#content {
	background: url("images/content-bg.jpg") no-repeat top center;
	clear: left;
	width: 822px;
	height: 410px;
	position: relative;
	}
	#content div.page {
		position: absolute;
		top: 40px;
		left: 38px;
	}
	#content div.left {
		width: 241px;
		height: 322px;
		background: url("images/feature-bg.png") no-repeat top left;
		float: left;
	}
	#content div.right {
		width: 470px;
		float: left;
		margin-left: 20px;
	}

#footer {
	color: #666;
	margin-top: 5px;
	text-align: center;
	}
	#footer a {
		color: #963;
	}

/*--------------------
	NAVIGATION
--------------------*/

ul#navigation {
	
	}
	ul#navigation li {
		float: left;
		}
		ul#navigation li a {
			display: block;
			width: 64px;
			height: 90px;
			margin-left: 42px;
			}
		ul#navigation li a img {
			list-style: none;
			background: none;
			border: none;
			margin-right: 25px;
			padding: 5px;
		}

/*--------------------
	CONTENT - ABOUT
--------------------*/

#about img {
	padding: 0 5px;
}

#about ul {
	list-style: none;
	}
	#about ul li {
		float: left;
		font-size: 18px;
		font-weight: bold;
		margin-right: 40px;
		padding: 6px 10px 10px 6px;
		}
		#about ul li img {
			display: block;
		}
